body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: PakNastaleeq;
  src: local("PakNastaleeq"),
    url("./fonts/PakNastaleeq.ttf") format("truetype");
}

.urdu {
  font: normal 20pt PakNastaleeq;
  margin-right: 10px;
  text-align: center;
  direction: rtl;
  unicode-bidi: embed;
}